<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="com.informatica.sdk.libraryInfo.libraryInfo" id="TABLESNOWFLAKEV2LIBRARYINFO">
      <implUnit library="com.unicosolution.adapter.snowflakev2.runtime.adapter.SnowflakeV2TablePlugin" osType="JAVA"/>
   </extension>
</plugin>