<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="com.informatica.sdk.seedprovider.seedProvider" id="SNOWFLAKEV2SEEDPROVIDER">
      <SeedProvider class="com.unicosolution.adapter.snowflakev2.typesystem.SnowflakeV2TypeSystem" id="com.unicosolution.adapter.snowflakev2.typesystem.SnowflakeV2TypeSystem.typesystem">
         <metaClass metaClass="com.informatica.metadata.common.typesystem.TypeSystem"/>
      </SeedProvider>
   </extension>
</plugin>